.contact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
    border: solid silver 1px;   
    background-color: silver;
    border: solid black 1px;

    p{
        text-align: center;
        margin: 0;
        padding: 20px 0;
        border-right: solid black 1px;
    }
    
}